# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
# env/
# venv/
# ENV/
.venv
*.log

# Django
db.sqlite3
# media/
# staticfiles/
# .env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
# .packages
# .pub-cache/
# .pub/
build/

# IDEs
.vscode/
.idea/
*.iml
*.iws
.DS_Store

# OS
Thumbs.db
